*{
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

/* scroll bar css */

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(180, 137, 221);
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover{
    background-color: white ;
}
::-webkit-scrollbar-thumb:active{
    background-color: #fca311;
}


.navbar{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{
    height: 60px;
    width: 60px;
}
input{
    height: 40px;
    width: 900px
}
button{
    font-size: 20px;
    font-weight: bold;
    height: 43px;
    width: 150px;
    position: relative;
    top: 3px;
    background-color: blue;
    border: 2px solid transparent;
}
button:hover{
    border: 2px solid blue;
    background-color: whitesmoke;
    color: blue;
}
#in{
    color: white;
    font-weight: bold;

}
#userlogo{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}
#signin{
    color: white;
    font-weight: bold;
    margin-right: 15px;
}
#cart{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}
#hello{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* navigation bar */


.navpage{
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}
a{
    color: #fca311;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid blue;
}
h1{
    color: #c9ada7;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
    margin-left: 150px;
}

#welcome{
    display: flex;
}
#changelogos{
    height: 70px;
    width: 200px;
    background-color: white;
    position: relative;
    top: 30px;
    left: 50px;
    animation: imageanimate 15s linear 2s infinite normal;
}
@keyframes imageanimate {
    0%{background-image: url(ug.jpg);
       background-size: contain;
       background-repeat: no-repeat;
    }
    20%{background-image: url(rockstar.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    40%{background-image: url(gta-5.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    60%{background-image: url(gta-sa.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    80%{background-image: url(rdr3.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    100%{background-image: url(fh5.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}



/* content css starts here.. */


#videogameimage{
    height: 200px;
    color:black;
    border: 5px double black;
    color: white;
    background-image: url(Images/videogameimage.jpg);
    background-size: cover;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 700%;
}
#videogameimagename{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#consoleimage{
    height: 200px;
    color: black;
    border: 5px double black;
    color: white;
    background-image: url(Images/consolesimage.jpg);
    background-size: cover;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 700%;
}
#consoleimagename{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#peripheralimage{
    height: 200px;
    color: black;
    border: 5px double black;
    color: white;
    background-image: url(Images/gamingperipherialsimage.jpg);
    background-size: cover;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 700%;
}
#gamingperipheralimagename{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#heythere{
    color: #ff6700;
    font-size: 40px;
    margin-left: 30px;
    margin-top: 40px;
}
#welcome{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 15px;
}

/* videogameslist */


#videogames{
    margin-left: 10px;
    margin-top: 20px;
}
.videogameslist{
    margin-top: 10px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}    
.videogame{
    height: 420px;
    width: 300px;
    border: 2px solid grey;
}
.videogame:hover{
    background-color: grey;
    font-size: 30px;
    color: white;
}
#gtav{
    background-image: url(Grand_Theft_Auto_V.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#gtavname{
    position: relative;
    top: 380px;
    padding-left: 30px;
}
#fortnight{
    background-image: url(fortnight.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#fortnightname{
    position: relative;
    top: 380px;
    padding-left: 30px;

}
#appexlegends{
    background-image: url(appex-legends.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#appexlegendsname{
    position: relative;
    top: 380px;
    padding-left: 30px;
}
#gtasaname{
    position: relative;
    top: 380px;
    padding-left: 30px;
}
#gtasan{
    background-image: url(GTASABOX.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#assasianscreed{
    background-image: url(assasianscreed.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#assasianscreedname{
    padding-top: 380px;
}
#cod{
    background-image: url(cod-adv.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#codname{
    padding-top: 380px;
}
#counterstrike{
    background-image: url(Counter-Strike-Global-Offensive-6.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
#counterstrikename{
    padding-top: 380px;
}
#fh{
    background-image: url(Forza_Horizon_boxart.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#forzaname{
    padding-top: 380px;
}

#selectgames{
    background-color: rgb(214, 224, 174);
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 70px;
}




/* consoles css start */


#consoles{
    margin-top: 20px;
    margin-left: 10px;
}

#consolelist{
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#ps{
    background-image: url(playstation.avif);
    background-size: contain;
    background-repeat: no-repeat;
}
#playstationname{
    padding-top: 380px;
}
#xbox{
    background-image: url(xbox.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#xboxname{
    padding-top: 380px;
}
#nitendoswitch{
    background-image: url(nitendo\ switch.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#nitendoname{
    padding-top: 380px;
}

#dreamcast{
    background-image: url(dreamcast.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#dreamcastname{
    padding-top: 380px;
}
#gamecube{
    background-image: url(game\ cube.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

#gamecubename{
    padding-top: 380px;
    display: none;
}

/* consoles list */



#peripherialslist{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#peripherials{
    margin-top: 20px;
    margin-left: 10px;
}

#laptop{
    background-image: url(Images/laptop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#laptopname{
    padding-top: 380px;
}

#keyboard{
    background-image: url(Images/keyboard.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#keyboardname{
    padding-top: 380px;
}
#mouse{
    background-image: url(Images/gaming\ mouse.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
#mousename{
    padding-top: 380px;
}
#headphone{
    background-image: url(Images/headohones.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
#headphonename{
    padding-top: 380px;
}

/* footer CSS starts here */


#footer{
    height: 510px;
    background-color: black;
}
#footercontent{
    padding: 50px 40px 50px 40px;
}
#aboutudaygames{
    color: white;
    text-transform: uppercase;
}
#footerlogo{
    height: 40px;
    width: 40px;
    position: relative;
    top: 10px;
}
#footermessage{
    color: white;
    width: 50%;
}
#footerlogos{
    margin-top: 40px;
    display: flex;
}
.icon{
    margin-right: 20px;
}
#footercontent{
    display: flex;
    justify-content: space-evenly;
}
#resources{
    color: white;
}
#policies{
    color: white;
}
#footerending{
    color: white;
    display: flex;
    align-items: flex-start;
    padding-left: 50px;
    width: 50%;
}
#followus{
    color: white;
    padding-left: 50px;
}
.anchor{
    margin: 5px;
}





/* media queries */


@media(min-width: 450px){
    #logo{
        height: 10px;
        width: 10px;
    }
    button{
        width: 30px;
    }
    input{
        width: 80px;
    }
    #in{
        font-size: 10px;
    }
    #signin{
        font-size: 10px;
    }
    #welcomemess{
        font-size: 15px;
        margin-left: 0px;
    }
    #changelogos{
        width: 90px;
    }
    #videogameimagename{
        font-size: 60px;
    }
    #consoleimagename{
        font-size: 60px;
    }
    #gamingperipheralimagename{
        font-size: 60px;
    }
    .videogameslist{
        height: 200px;
    }
    .videogame{
        height: 200px;
    }
    #videogameimage{
        height: 100px;
    }
    #consoleimage{
        height: 100px;
    }
    #gtavname{
        position: relative;
        top: 170px;
        right: 10px;
    }
    #assasianscreedname{
        padding-top: 180px;
    }
    #codname{
        padding-top: 180px;
    }
    #counterstrikename{
        padding-top: 180px;
    }
    #forzaname{
        padding-top: 170px;
    }
    #appexlegendsname{
        position: relative;
        top: 160px;
        right: 20px;
    }
    #gtasaname{
        position: relative;
        top: 160px;
        right: 20px;
    }
    #playstationname{
        padding-top: 180px;
    }
    #xboxname{
        padding-top: 180px;
    }
    #nitendoname{
        padding-top: 155px;
    }
    #dreamcastname{
        padding-top: 175px;
    }
    #gamecubename{
        padding-top: 180px;
    }
    #laptopname{
        padding-top: 180px;
    }
    #keyboardname{
        padding-top: 180px;
    }
    #mousename{
        padding-top: 180px;
    }
    #headphonename{
        padding-top: 180px;
    }
    #followus{
        position: relative;
        bottom: 140px;
        right: 15px;
    }
}




/* contact us css */


#contactuscontent{
    height: 270px;
    background-color: aqua;
}
.mediaheader{
    height: 220px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#media-section{
    font-size: 100px;
    color: antiquewhite;
    padding-left: 100px;
    position: relative;
    top: 100px;
    left: 40px;
}
.socialmedialogos{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.medialogos{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 2px dotted transparent;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#number{
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    right: 50px;
    display: flex;
}
.contact{
    padding: 0px 10px 0px 5px;
}
.medialogos:hover{
    border: 2px dotted white;
    transform: rotate(360deg);
    transition-duration: 0.7s;
    
}


/* about us */

#aboutuscontent{
    height: 600px;
    background-color: aquamarine;
    padding: 10px 20px 10px 20px;
}
.paragraph{
    margin: 30px;
    font-size: large;
    font-family: cursive;
}


/* servces page css */

#servicescontent{
    height: 340px;
    background-color: chartreuse;
    padding-top: 70px;
}
.services-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.service {
    margin-bottom: 20px;
}

.service h3 {
    color: #333;
    margin-bottom: 10px;
}

.service p {
    color: #666;
}
